[user]
	name = Harvey Shimizu
	email = sshidecap.portable@gmail.com
[uer]
	email = sshidecap.portable@gmail.com
[alias]

    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    # "--numstat" option displays number of added and deleted lines in decimal notation
    ln = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    # ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %ad%Cred%d" --decorate --compact-summary --date=default
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Cgreen%s\\ %Cblue[%cn]\\ %Creset%ad" --decorate --date=local --compact-summary
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lg = log --pretty=format:"%C(yellow)%h\\ %Creset%s\\ %Cblue[%cn]" --graph

    a = add
    ap = add -p
    c = commit
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    acm = commit -a -m
    m = commit --amend --verbose
    rmtv = remote -v
    p = push origin main
	b = branch

    d = diff
    dt = difftool
    dtp = difftool --tool=vimdiff --no-prompt
    # git diff br1:foo/bar.txt br2:hoge/fuga.txt
    # git diff br1 br2 foo/bar.txt
    ds = diff --staged
    dc = diff --cached
    dst = diff --stat
    #dc = diff --cached
    dh = diff HEAD
    dHo = diff HEAD..origin/main
    dHom = diff HEAD...origin/main
	dw = diff --word-diff
	dlc = diff --cached HEAD^

	dl = "!git ll -1"
    ref = reflog
    rbi = rebase -i
    res = restore --staged

    rh = reset HEAD

    # the way of getting previous revison to another local branch
    #git fetch origin
    #git log origin/<remote-branch-name>
    #git checkout -b <new-local-branch-name> <commit-hash>

    #git tag -a 'v1.0.0' -m '20210623' 3d71f39
    #git push origin <tag name>

    s = status
    ss = status -s
    co = checkout
    cob = checkout -b
	cl = clone

    sw = switch
    swm = switch main
    swc = switch -c

	# list aliases
    la = "!git config -l | grep alias | cut -c 7-"
    #dwm = "!f(){diff -y <(sort $1 | sed 's///g') <(sort $2 | sed 's///g');};f"
[core]
	editor = vim
	whitespace = cr-at-eol
	autocrlf = true
[init]
	defaultbranch = main
[fetch]
	prune = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
